<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input inputType="text" label="Username" [control]="authForm.controls.username"></app-input>
  <app-input inputType="password" label="Password" [control]="authForm.controls.password"></app-input>
  <app-input inputType="password" label="Password confirmation" [control]="authForm.controls.passwordConfirmation"></app-input>

  <button class="button ui submit primary" type="submit">Sign up</button>

  {{authForm.errors |json}}
</form>
