<form class="ui form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <app-input controlType="input" [control]="emailForm.controls.to" inputType="email" label="To">
  </app-input>

  <app-input controlType="input" [control]="emailForm.controls.from" inputType="email" label="From">
  </app-input>

  <app-input
    controlType="input"
    [control]="emailForm.controls.subject"
    inputType="text"
    label="Subject"
  >
  </app-input>

  <app-input controlType="textarea" [control]="emailForm.controls.text" label="Content">
  </app-input>

  <button class="ui button primary">Send</button>
</form>
