<h3>Sign in</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input controlType="input" label="UserName" inputType="text" [control]="authForm.controls.username"></app-input>
  <app-input controlType="input" inputType="password" label="Password" [control]="authForm.controls.password"></app-input>


  <div *ngIf="authForm.errors" class="ui red basic label">
    <p *ngIf="authForm.errors?.['credentials']">
      Invalid username or password
    </p>
  </div>
  <div>
    <button class="button ui submit primary" type="submit">Sign in</button>
  </div>
</form>
